fastapi
uvicorn[standard]
python-multipart

pdfplumber
pdf2image
pytesseract
Pillow

httpx
pdfminer.six==20250324
python-dotenv
requests
beautifulsoup4

# Database
sqlalchemy==1.4.53
psycopg2-binary==2.9.9
alembic==1.13.1
